/***************************/
/* LAPTOP DISPLAY */
/***************************/
@media only screen and (max-width: 992px) {
  html {
    /* 9px / 16px*/
    font-size: 56.25%;
  }
  .header {
    grid-column-gap: 0rem;
  }
}
/***************************/
/* TABLET DISPLAY  */
/***************************/
@media only screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }

  .header {
    display: flex;
    z-index: 9999;
    padding: 10px;
    justify-content: space-between;
  }
  .header img {
    width: 35%;
    padding: 0;
  }

  .menu-btn {
    display: flex;
  }

  .main-nav {
    display: none;
  }

  .hero {
    justify-content: center;
    align-items: flex-end;
    height: 89vh;
  }

  .hero-text {
    margin-bottom: 4rem;
    width: max-content;
  }

  .hero-text h1 {
    margin-bottom: 1.2rem;
  }

  .hero-text .quote {
    margin-bottom: 1.8rem;
  }
  .section-about-us .grid--2-cols {
    grid-template-columns: 1fr;
  }

  .section-investment .grid--2-cols {
    grid-template-columns: 1fr;
  }

  .section-contact-us .grid--2-cols {
    grid-template-columns: 1fr;
  }

  .section-information .grid--2-cols {
    grid-template-columns: 1fr;
  }

  .carousel {
    padding: 1rem 2rem 4rem 2rem;
  }
  .package-title {
    justify-content: center;
  }

  .package-title .number {
    display: none;
  }

  .package-paragraph {
    text-align: center;
  }

  .img--1 {
    grid-row: 2;
  }

  .img--3 {
    grid-row: 6;
  }

  .img--5 {
    grid-row: 10;
  }
  .question1,
  .question2,
  .question3 {
    font-size: 1.6rem;
    font-weight: 700;
  }
  .answer1,
  .answer2,
  .answer3 {
    font-size: 1.4rem;
  }
  .section-contact-us {
    display: none;
  }

  .section-contact-us-mob {
    display: flex;
  }
}

/***************************/
/* MOBILE DISPLAY  */
/***************************/

@media only screen and (max-width: 600px) {
  .hero {
    height: 93vh;
  }

  .section-about-us {
  }
  .section-portfolio {
    background-color: white;
    height: 100vh;
    justify-content: center;
  }
  .section-investment {
    padding: 10rem 0rem 5rem 0rem;
  }

  .section-investment .grid {
    padding: 0 2rem 8rem 2rem;

    row-gap: 4rem;
  }
}
